
/* Flexbox properties learning */
h1{
    color:crimson;
    text-align:center;
}
.container{
    background-color: rgb(201, 126, 72);
    /* flex is not a Property its a Layout module - One Dimensional */
    height: 200px;
    display:flex;   
    flex-direction:column;
    flex-direction:column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap:nowrap;
    /* flex-wrap: wrap-reverse; */
    /* Horizontal Axis(X -axis) */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* Vertical Axis(Y -axis) */
    /* align-items:flex-start; */
    /* align-items: flex-end; */
    /* align-items:center; */
    /* align-items: stretch; */
       /* justify-content: center;
       align-items:center; */
       /* align-content: center; */
       align-items: flex-start;
}
.boxes{
    background-color: blueviolet;
    border:1px solid black;
    padding:20px;
    margin:5px;
    text-align: center;
    font-size: 30px;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center a div and its content */
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.content{
    background-color: aquamarine;
    height:300px;
    width:400px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Navbar or Header design */
.navbar{
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin-left: 20px;
    /* color: rgb(228, 22, 66); */
}
.sea{
    width: 200px;
    height: 20px;
}
button{
    background-color:rgb(78, 78, 151);
    font-size: 16px;
    border-radius: 50px;
}
.nav-item:hover{
    background-color: rgb(12, 11, 11);
}
