
.main-img{
    position:relative;
    height:500px;
    width:400px;
}
.img-size{
    height:500px !important;
    width:400px;
    border-radius: 5%;
}

.icon{
    position:absolute;
    bottom:10px;
    right:10px;
    display: flex;
    justify-content: space-between;
}

button{
    position:absolute;
    top:10px;
    right:10px;
}